[Unit]
Description=A tool for securing communications between a client and a DNS resolver
After=network.target

[Service]
Type=simple
PIDFile=/var/run/dnscrypt-proxy-%i.pid
ExecStartPre=/bin/rm -f /var/run/dnscrypt-proxy-%i.pid
ExecStart=/usr/sbin/dnscrypt-proxy /etc/dnscrypt-proxy/%i.conf
Restart=always

[Install]
WantedBy=multi-user.target
